#### Step 1: ติดตั้ง Library mysql-connector-python

In [2]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/samit/TrainingWorkshop/PythonMLGHB/env/lib/python3.11/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/samit/TrainingWorkshop/PythonMLGHB/env/lib/python3.11/site-packages (from mysql-connector-python) (4.21.12)

#### Step 2: Connect to mySQL Server

In [3]:
import mysql.connector

# Connect to the database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="pythonmldb",
    port=3360
)

# test connection
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x109095d50>

#### Stop 3: Fetching Data from mySQL Server to Pandas Dataframe

In [4]:
import pandas as pd

# SQL Query
query = "SELECT * FROM titanic"

# Load data into DataFrame df from SQL query
titanic_df = pd.read_sql(query, con=db_connection)

# View data in DataFrame
titanic_df

/var/folders/cx/f4_z4txd6y5fq4r9_c3h271m0000gp/T/ipykernel_63790/1860588384.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  titanic_df = pd.read_sql(query, con=db_connection)

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

#### Step 4: Data Preprocessing and Cleaning

In [5]:
# Drop NaN values
titanic_df = titanic_df[['Age','SibSp','Parch','Fare','Survived']].dropna()

# Define features and target
x = titanic_df[['Age','SibSp','Parch','Fare']] # features
y = titanic_df['Survived'] # target

print(x)
print(y)

      Age  SibSp  Parch     Fare
0    22.0      1      0   7.2500
1    38.0      1      0  71.2833
2    26.0      0      0   7.9250
3    35.0      1      0  53.1000
4    35.0      0      0   8.0500
..    ...    ...    ...      ...
885  39.0      0      5  29.1250
886  27.0      0      0  13.0000
887  19.0      0      0  30.0000
889  26.0      0      0  30.0000
890  32.0      0      0   7.7500

[714 rows x 4 columns]
0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

#### Step 5: Split Data into Training and Test Sets

In [6]:
from sklearn.model_selection import train_test_split

# Split data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=0)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(642, 4)
(72, 4)
(642,)
(72,)

#### Step 6: Scaling Data

In [7]:
from sklearn.preprocessing import StandardScaler

# Scale the data
scaler = StandardScaler()

# Fit the scaler to the training data and transform
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

print(x_train)
print(x_test)

[[-0.81198122 -0.54796743  1.78062865 -0.40043892]
 [ 0.63974849  0.51485762  0.63860708  0.8302061 ]
 [ 1.95321824 -0.54796743 -0.50341449  2.06492803]
 ...
 [ 1.1236584  -0.54796743 -0.50341449  0.82189717]
 [-0.25894133  0.51485762 -0.50341449 -0.49545247]
 [ 1.05452841  0.51485762  0.63860708  2.40367207]]
[[-0.12068136  0.51485762  0.63860708 -0.37458891]
 [ 1.40017835 -0.54796743 -0.50341449 -0.11031874]
 [-1.9927214   0.51485762  1.78062865  2.15778865]
 [ 0.43235853 -0.54796743 -0.50341449 -0.40274695]
 [-0.25894133 -0.54796743 -0.50341449 -0.08654596]
 [ 0.43235853  0.51485762  0.63860708 -0.19456207]
 [ 0.0867086   0.51485762  0.63860708 -0.15578706]
 [ 2.43712814 -0.54796743  0.63860708  0.5039273 ]
 [ 2.43712814 -0.54796743 -0.50341449 -0.15024777]
 [ 1.19278839 -0.54796743 -0.50341449  0.31966844]
 [-0.53546128 -0.54796743 -0.50341449 -0.49468435]
 [-0.25894133 -0.54796743 -0.50341449 -0.49545247]
 [-1.77980104 -0.54796743  0.63860708 -0.39274485]
 [ 0.63974849 -0.54796743 -0.50341449 -0.19456207]
 [-0.60459126  0.51485762 -0.50341449 -0.42813535]
 [ 1.74582828 -0.54796743 -0.50341449 -0.34504604]
 [ 0.22496857 -0.54796743 -0.50341449 -0.41382553]
 [-2.00447349  1.57768267  0.63860708 -0.28488384]
 [-0.39720131 -0.54796743  1.78062865 -0.33212104]
 [ 0.63974849 -0.54796743 -0.50341449 -0.40043892]
 [-0.67372125 -0.54796743 -0.50341449 -0.51030145]
 [ 0.70887848 -0.54796743 -0.50341449 -0.40043892]
 [-1.08850117  0.51485762 -0.50341449 -0.08523869]
 [-0.05155137  0.51485762 -0.50341449 -0.510379  ]
 [ 0.01757861 -0.54796743 -0.50341449 -0.49468435]
 [-2.00447349  1.57768267  0.63860708 -0.28488384]
 [ 0.43235853 -0.54796743 -0.50341449  1.86389806]
 [-0.60459126 -0.54796743 -0.50341449  0.71665071]
 [-0.18981135  0.51485762 -0.50341449  0.33997917]
 [ 0.70887848  0.51485762 -0.50341449 -0.46552554]
 [ 0.15583859 -0.54796743 -0.50341449 -0.4941452 ]
 [-1.91806101  3.70333278  0.63860708  0.09232686]
 [-0.67372125 -0.54796743 -0.50341449 -0.47014162]
 [ 1.53843832  0.51485762 -0.50341449  0.80466445]
 [ 0.36322855 -0.54796743 -0.50341449 -0.49183716]
 [ 0.84713845 -0.54796743  0.63860708 -0.48529711]
 [ 0.57061851  0.51485762 -0.50341449  0.67572091]
 [ 0.43235853 -0.54796743 -0.50341449 -0.15509465]
 [-0.67372125 -0.54796743 -0.50341449 -0.49545247]
 [-1.01937118  0.51485762 -0.50341449 -0.37358814]
 [-0.53546128 -0.54796743 -0.50341449 -0.46783358]
 [-0.60459126 -0.54796743 -0.50341449 -0.49653078]
 [ 0.84713845  0.51485762 -0.50341449  0.32990135]
 [-0.60459126 -0.54796743  0.63860708  0.78658421]
 [-0.12068136 -0.54796743 -0.50341449 -0.49653078]
 [-1.71067105 -0.54796743 -0.50341449 -0.41013267]
 [-1.84893102  3.70333278  1.78062865 -0.06092676]
 [-0.39720131  1.57768267 -0.50341449  0.71665071]
 [ 0.36322855 -0.54796743 -0.50341449 -0.50891663]
 [-0.12068136  0.51485762 -0.50341449 -0.34781569]
 [ 0.57061851 -0.54796743 -0.50341449 -0.6404747 ]
 [-0.39720131 -0.54796743 -0.50341449 -0.40043892]
 [-0.32807132 -0.54796743 -0.50341449 -0.40043892]
 [ 0.15583859 -0.54796743 -0.50341449  0.76819747]
 [ 1.88408825 -0.54796743 -0.50341449 -0.44659965]
 [-0.32807132  0.51485762 -0.50341449 -0.4941452 ]
 [-1.15763116 -0.54796743  0.63860708 -0.28042102]
 [-0.32807132  0.51485762 -0.50341449 -0.49691484]
 [ 2.22973818 -0.54796743 -0.50341449 -0.44659965]
 [ 0.84713845  0.51485762 -0.50341449  0.31966844]
 [ 0.57061851 -0.54796743  0.63860708  2.1931016 ]
 [ 1.46930833 -0.54796743 -0.50341449 -0.5102239 ]
 [-0.25894133  0.51485762  0.63860708 -0.16040313]
 [-0.67372125 -0.54796743 -0.50341449 -0.46506394]
 [-0.9502412  -0.54796743 -0.50341449  0.9566865 ]
 [-0.05155137  0.51485762  0.63860708 -0.44729206]
 [ 0.70887848 -0.54796743 -0.50341449  2.1931016 ]
 [ 0.36322855 -0.54796743 -0.50341449 -0.44659965]
 [-1.91806101  0.51485762  1.78062865  2.15778865]
 [-0.46633129 -0.54796743  0.63860708  0.5293914 ]
 [-0.53546128 -0.54796743 -0.50341449 -0.50660859]
 [ 0.43235853  0.51485762  1.78062865  1.57524025]]

#### Step 7: Training Model

In [8]:
from sklearn.linear_model import LogisticRegression

# Create the model
model = LogisticRegression()

# Fit the model
model.fit(x_train, y_train)

LogisticRegression()

#### Step 8: Predict Test Data

In [9]:
y_pred = model.predict(x_test)

# y_pred = model.predict([[35, 1, 0, 53.1]])

y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 1])

#### Step 9: Model Evaluation (การประเมินผล)

In [10]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Accuracy
print("Accuracy: ", accuracy_score(y_test, y_pred))

# Precision
print("Precision: ", precision_score(y_test, y_pred))

# Recall
print("Recall: ", recall_score(y_test, y_pred))

# F1 score
print("F1 score: ", f1_score(y_test, y_pred))

Accuracy:  0.6805555555555556
Precision:  0.6666666666666666
Recall:  0.35714285714285715
F1 score:  0.46511627906976744

#### Step 10: Export Model with Joblib

In [11]:
from joblib import dump

# Save the model
dump(model, "titanic_model.joblib")

['titanic_model.joblib']

#### Step 11: Test use Model from Joblib

In [14]:
from joblib import load

# Load the model
loaded_model = load("titanic_model.joblib")

# Make predictions
y_pred = loaded_model.predict([[22, 1, 0, 7.25]])

y_pred

array([0])